// Navigation Styles here
header{
    display: flex;
    // justify-content: space-evenly;

}
.navbar { 
    border: 1px solid red;
    display:flex;
    justify-content: space-around;
    align-items: center;
    // justify-content: flex-end;
    font-size: 16px;
    
    
    // width:0 auto;
    width: 60%;
    // justify-content: space-around;
    a {
   text-decoration: none;
    color: black;
    // text-size-adjust: 20px;
    }
}
